body {
  background-color: #f5f5f5;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 16px 0;
}

.display-block {
  display: block;
}

.container {
  max-width: 1040px;
}

.card {
  background-color: #fff;
  padding: 12px;
  width: 100%;
}

.btn {
  background-color: #7AAC68;
  border-radius: 2px;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid darken(#7AAC68, 10%);
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: darken(#7AAC68, 10%);
  }
}

.main-header {
  padding: 16px 12px 6px 12px;
  background-color: #fff;
  font-size: 1.2em;

  &__logo {
    text-decoration: none;
    color: #2d2d2d;

    img {
      float: left;
      max-width: 40px;
      margin: -10px 20px 0 8px;
    }
  }
}

.main-footer {
  background-color: #2d2d2d;
  min-height: 120px;
  padding: 16px;

  a {
    color: #fff;
  }
}

.main-nav {
  float: right;
  font-size: 0.8em;
  padding-top: 2px;

  &__link {
    display: inline-block;
    padding: 0 8px;
    color: #2d2d2d;
    text-decoration: none;

    &:hover {
      color: lighten(#2d2d2d, 20%);
    }
  }
}

.home-banner {
  background-color: #383838;
  color: #fff;  
  margin-bottom: 16px;
  overflow: hidden;
  width: 100%;
  margin-top: -16px;

  &__container {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    min-height: 320px;
  }

  &__heading {
    position: absolute;
    top: 40px;
    padding: 20px;
    z-index: 1;
    
    h1 {
      font-size: 3.3em;
      font-weight: 300;
    }

    h3 {
      font-weight: 300;
    }
  }

  .earth {
    max-width: 360px;
    position: absolute;
    right: -25px;
    bottom: -10px;
  }

  @media (min-width: 1600px) {
    &__container {
      min-height: 460px;
    }

    &__heading {
      top: 80px;
      padding: 0;

      h1 {
        font-size: 3.6em;
      }

      h3 {
        font-size: 1.6em;
      }
    }

    .earth {
      max-width: 440px;
      right: -70px;
      bottom: 12px;
    }
  }
}

.home-projects {
  padding: 0 8px;

  .card {
    padding: 12px 8px 42px 8px;
    position: relative;
  }

  .btn {
    position: absolute;
    bottom: 12px;
    margin: 0 auto;
    left: 0;
    right: 0;
    max-width: 150px;
  }
}

@keyframes comet {
  20%, 100% {
    opacity: 0;
    transform: translate(400px, 430px) rotate(45deg);
    
  }
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
}

.comet, .comet2 {
  position: absolute;
  top: -20px;
  left: 40px;
  width: 40px;
  transform: rotate(45deg);
  animation: comet 10s infinite ease-in-out;
}

.comet2 {
  left: 140px;
  animation: comet 8s infinite ease-in-out;
}

.project {
   &.project-container {
     padding: 8px;
   }

   &__image {
     max-width: 150px;
     width: 100%;
     margin: 0 auto 16px auto;
     display: block;
   }
}

.tilt {
  transform: rotate(45deg);
}

.blog-container {
  max-width: 760px;
  margin: 0 auto;
}