body {
  font-family: 'Roboto', helvetica, sans-serif;
}

h1, h2, h3 {
  margin-top: 0;
  font-weight: 300;
}

p {
  margin-bottom: 24px;
  font-weight: 400;
}

a {
  color: #2d2d2d;
  
  &::visited {
    color: #2d2d2d;
  }
}

pre {
  background-color: #f5f5f5;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 6px;
}

code {
  background-color: #f5f5f5;
}