<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="author" content="Cory Rylan" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"> {% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}">{% endif %}

  <link rel="manifest" href="/manifest.json">

  <style type="text/css">
    {% capture include_to_scssify %}
        {% include main.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>

  <link href="https://fonts.googleapis.com/css?family=Roboto:500,400,300" rel="stylesheet">

  <!--{% for post in site.posts limit:1 %}
  <link rel="prefetch prerender" href="{{ post.permalink }}"> {% endfor %}-->
</head>

<body>
  <main>
    <h1 class="text-center">Vintage Software Open Source</h1>
    <div class="container">
      <div class="flex-row--stretch text-center">
        <div class="col-4@md">
          <div class="card">
            <h3>Graph</h3>
            <p>A Observable (RxJS) based Graph layer for JavaScript Applications</p>
            <a href="https://github.com/vintage-software/vstack-graph" class="btn">View Project</a>
          </div>
        </div>
        <div class="col-4@md">
          <div class="card">
            <h3>TSGen</h3>
            <p>A TypeScript Interface Generator from C# DTOs</p>
            <a href="https://github.com/vintage-software/vstack-typescript-generator-cli" class="btn">View Project</a>
          </div>
        </div>
        <div class="col-4@md">
          <div class="card">
            <h3>API</h3>
            <p>Vstack API Layer for advanced REST APIs</p>
            <a href="https://github.com/vintage-software/vstack-api" class="btn">View Project</a>
          </div>
        </div>
      </div>
      <div class="flex-row--stretch text-center">
        <div class="col-4@md">
          <div class="card">
            <h3>Services</h3>
            <p>Vstack Services Library</p>
            <a href="https://github.com/vintage-software/vstack-services" class="btn">View Project</a>
          </div>
        </div>
        <div class="col-4@md">
          <div class="card">
            <h3>Elastic</h3>
            <p>Vstack Elastic Services Library</p>
            <a href="https://github.com/vintage-software/vstack-services-elastic" class="btn">View Project</a>
          </div>
        </div>
        <div class="col-4@md">
          <div class="card">
            <h3>Utilities</h3>
            <p>Vstack C# Utilities</p>
            <a href="https://github.com/vintage-software/vstack-utilities" class="btn">View Project</a>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>